* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
.fa-search {
  color: #000;
}
select {
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
}
input {
  border-radius: 5em;
}
.add-btn {
  background: #2c6dc1;
  border: none;
  color: white;
  /* width: 120px;
  height: 35px; */
}
.cartAmount {
  background: red;
  color: white;
  width: 1.2rem;
  height: 1.2rem;
  font-size: 0.7rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
